<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
    <title>Главная страница</title>
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
   </head>
<body>
{% block content %}
    <script>
        $(document).ready(function(){
            var count_input = 1
            $("#add_text").click(function() {
                count_input++;
                $("#RowInput").append('<p><div class="row"><input type="text" required placeholder="Строка '+count_input+'" ' +
                                      'name="input_'+count_input+'"/><button type="button" name="show_more" class="remove_row">Удалить</button></p></div>');

                $("body").on("click", ".remove_row", function (){
                    $(this).parent('div').remove();
                })
            });
        });
    </script>
    {% for msg in get_flashed_messages() %}
        <div class="flash"> {{msg}} </div>
    {% endfor %}
    <h1>Тут смотреть текст</h1>
    <p><form action="all_inputs">
        <button>Посмотреть сохраненный текст</button>
    </form>
    <p>Ваш текст:
        <p><form action="/" method="post">
           <div id="RowInput">
                <div class="col-auto row">
                    <p><input type="text" name="input_1" placeholder="Строка 1" required>
                    <button id="add_text" type="button">Добавить строку для текста</button></p>
                </div>
            </div>
            <a><input type="submit" value="Сохранить"></a>
        </form>

{% endblock %}
</body>
</html>